html,
body {
  min-width: 900px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #283136;
  line-height: 22px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 27px;
}

.logo {
  float: left;
}

.main-nav {
  float: right;
  max-width: 680px;
  margin-top: 30px;
}

.main-nav ul {
  list-style: none;
  font-size: 0;
}

.main-nav li {
  display: inline-block;
  vertical-align: top;
  margin-left: 46px;
}

.main-nav li:last-child {
  margin-left: 65px;
}

.fa-shopping-cart {
  color: #a6a6a6;
  margin-right: 13px;
}

.main-nav a {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
 }

.main-nav a:hover, .main-nav a:hover .fa-shopping-cart {
  color: #fb565a;
}

.main-nav a:active, .main-nav a:active .fa-shopping-cart {
  color: #8f8f8f;
}

.main-nav .onpage {
  border-bottom: 2px solid #fb565a;
}

.slider {
  margin-bottom: 80px;
  margin-top: 47px;
  padding-bottom: 63px;
}

.slider-left {
  float: left;
  padding-top: 21px;
  letter-spacing: normal;
}

.slider-right {
  float: right;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 18px;
  color: #000000;
  max-width: 250px;
}

.slider-left p {
  margin-bottom: 28px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 71px;
  background-color: #fb565a;
  border-radius: 3px;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
}

.features {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  float: left;
  margin-right: 80px;
  width: 240px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 2px;
}

.features p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}

.features-2 p {
  max-width: 215px;
}

.features-item .btn {
  padding: 10px 40px;
}

.features-2 .btn {
  background-color: #00ca74;
}

.features-2 .btn:hover {
  background-color: #01a25e;
}

.features-2 .btn:active {
  background-color: #009053;
}

.features-3 .btn {
  background-color: #efc84a;
}

.features-3 .btn:hover {
  background-color: #d6ae2c;
}

.features-3 .btn:active {
  background-color: #c09b24;
}

.about-top {
  margin-bottom: 15px;
  margin-top: 60px;
}

.about-left {
  float: left;
  max-width: 620px;
}

.about-right {
  float: right;
  max-width: 240px;
}

.about-top h2 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 10px;

}

.about-bottom {
  margin-bottom: 60px;
}

.about-bottom p {
  text-transform: uppercase;
  margin-bottom: 10px
}

.about-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-bottom li {
  padding: 11px;
  padding-left: 37px;
  position: relative;
}

.about-bottom li::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.partners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding: 23px 12px;
  margin-bottom: 85px;
  font-size: 0px;
}

.partner-1 {
  background-image: url("/img/glukhanko.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 37px;
  width: 198px;
  opacity: 0.2;
}

.partner-1:hover {
  opacity: 1;
}

.partner-2 {
  background-image: url("/img/htmlacademy.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 68px;
  width: 199px;
  opacity: 0.2;
}

.partner-2:hover {
  opacity: 1;
}

.partner-3 {
  background-image: url("/img/borodinski.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 86px;
  width: 209px;
  opacity: 0.2;
}

.partner-3:hover {
  opacity: 1;
}

.partners a {
  line-height: 125px;
  width: 270px;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.partners a:last-child {
  margin-right: 0;
}

.partners img {
  vertical-align: middle;
}

.wrapper {
  position: relative;
  max-width: 2560px;
  margin-right: auto;
  margin-left: auto;
}

#map {
  width: 100%;
  height: 415px;
  z-index: 1;
  background-color: #eeeeee;
}

address {
  line-height: 30px;
  margin-top: 88px;
  background-color: #ffffff; 
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 26px;
  width: 230px;
  text-decoration: none;
  font-style: normal;
  position: absolute; 
  top: 0px; 
  left: 27%;
  z-index: 3;
  color: #000000;
}

address p {
  max-width: 210px;
  color: #666666;
  line-height: 20px;
}

address .btn {
  margin-top: 10px;
  padding: 10px 54px;
}

.social {
  margin-top: 78px;
}

.social-icons {
  float: left;
  width: 320px;
}

.social-icons a {
  background-color: #e1e1e1;
  display: inline-block;
  vertical-align: top;
  width: 62px;
  height: 62px;
  margin-right: 24px;
  color: #ffffff;
  line-height: 62px;
  text-align: center;
  border-radius: 50%;
  font-size: 23px;
}

.social-icons a:hover {
  background-color: #fb565a;
}

.social-icons a:active {
  background-color: #d6494d;
}

.social-slogan {
  float: left;
  margin-bottom: 54px;
}

.social-slogan b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-slogan p {
  margin-top: 10px;
}